<section class="hero min-h-screen mx-auto w-full max-w-3xl">
  <div class="hero-content flex-col lg:flex-row-reverse">
    <div class="text-center lg:text-left">
      <h1 class="text-5xl font-bold">Join now!</h1>
      <p class="py-6">Our e-learning platform awaits you with a treasure trove of knowledge, hands-on projects, and expert-led courses. Don't miss out on the opportunity to elevate your skills, unlock new possibilities, and become a coding maestro.</p>
    </div>
    <div class="card shrink-0 w-full max-w-sm shadow-2xl bg-[#000000ac]">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class: "card-body" }) do |f| %>
        <div class="form-control">
          <%= f.label :fullname, "Enter your fullname", class: "label label-text" %>
        <%= f.text_field :fullname, autofocus: true, placeholder: "John J Doe", class: "nput input-bordered bg-transparent" %>
        </div>
        <div class="form-control">
          <%= f.label :email, "Enter your Email", class: "label label-text" %>
          <%= f.email_field :email, autofocus: true, required: true, placeholder: "awesome@email.com", autocomplete: "email", class: "input input-bordered bg-transparent" %>
        </div>
        <div class="form-control">
          <%= f.label :password, "Password (6 characters minimum)", class: "label label-text" %>
          <%= f.password_field :password, placeholder: "*********", autocomplete: "current-password", class: "input input-bordered bg-transparent" %>
        </div>
        <div class="form-control">
          <%= f.label :password_confirmation, class: "label label-text" %>
          <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "*********", class: "input input-bordered bg-transparent" %>
        </div>
        <%= render "devise/shared/links" %>
        <div class="form-control mt-6">
          <%= f.submit "Sign up", class: "btn bg-[#2190ff] text-white" %>
        </div>
      <% end %>
    </div>
  </div>
</section>
