<%= form_for(user, url: profile_path, method: :patch, html: { class: "mt-5" }) do |f| %>
  <div>
    <%= render "devise/shared/error_messages", resource: user %>
    <div class="mt-5" data-controller="profile-update-avatar">
      <%= f.label :avatar, t("profile.form.avatar"), class: "block text-sm mb-2 text-text-dark dark:text-text" %>
      <div class="flex items-center gap-4">
        <div data-profile-update-avatar-target="avatarPreview">
          <%= avatar_or_default_for(user, variant: :medium, class_name: "h-[70px] w-[70px]") %>
        </div>
        <%= f.file_field :avatar, class: "w-[70%] block w-full text-sm text-gray-500 file:me-4 file:py-2 file:px-4 file:rounded-lg file:border-0 file:text-sm file:font-semibold file:bg-primary-dark file:text-text file:dark:text-text-dark hover:file:bg-primary-dark file:disabled:opacity-50 file:disabled:pointer-events-none dark:file:bg-primary dark:hover:file:bg-primary", data: { profile_update_avatar_target: "avatarInput", action: "change->profile-update-avatar#updateAvatar" } %>
      </div>
    </div>

    <div class="mt-5">
      <%= f.label :fullname, t("profile.form.full_name"), class: "block text-sm mb-2 text-text-dark dark:text-text" %>
      <%= f.text_field :fullname, autofocus: true, required: true, placeholder: "John Doe", autocomplete: "fullname", class: "dark:bg-transparent py-3 px-4 block w-full border-gray-200 rounded-lg text-sm focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none dark:border-gray-700 dark:text-gray-400 dark:focus:ring-gray-600" %>
    </div>

    <div class="mt-5">
      <%= f.label :email, t("profile.form.email"), class: "block text-sm mb-2 text-text-dark dark:text-text" %>
      <%= f.email_field :email, autofocus: true, required: true, placeholder: "awesome@email.com", autocomplete: "email", class: "dark:bg-transparent py-3 px-4 block w-full border-gray-200 rounded-lg text-sm focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none dark:border-gray-700 dark:text-gray-400 dark:focus:ring-gray-600" %>
    </div>

    <div class="mt-5">
      <%= f.submit t("profile.form.submit"), class: "bg-primary-dark text-text dark:text-text-dark py-3 px-4 block w-full rounded-lg text-sm font-semibold focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none dark:bg-primary dark:focus:ring-gray-600", data: { turbo: false } %>
    </div>
  </div>
<% end %>
