<section class="hero min-h-screen mx-auto">
  <div class="hero-content flex-col lg:flex-row-reverse w-full max-w-md">
    <div class="card shrink-0 w-full shadow-2xl bg-[#000000ac]">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: "card-body" }) do |f| %>
        <div class="form-control">
          <%= f.label :email, "Enter your Email", class: "label label-text" %>
          <%= f.email_field :email, autofocus: true, required: true, placeholder: "awesome@email.com", autocomplete: "email", class: "input input-bordered bg-transparent" %>
        </div>
        <div class="form-control">
          <%= f.label :password, class: "label label-text" %>
          <%= f.password_field :password, placeholder: "*********", autocomplete: "current-password", class: "input input-bordered bg-transparent" %>
        </div>
        <%= render "devise/shared/links" %>
        <div class="form-control mt-6">
          <button class="btn bg-[#2190ff] text-white">Login</button>
        </div>
      <% end %>
    </div>
  </div>
</section>
